@{
    ViewData["Title"] = "Home Page";
    var bookInfo = ViewData["Prop2"]as ErrorViewModel;
}

<div class="text-center">
    <h1 class="display-4">Welcome From @ViewData["Prop1"]</h1>

    <br/>
    <h2>Id - @bookInfo.Id</h2>
    <h2>Name - @bookInfo.Name</h2>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
