@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<div class="text-center">
    <h1 class="display-4">Welcome from Arshil Vahora</h1>

    <img src="~/image/arshil.png" class="logo" alt="logo" />

    <img src="~/My_Files/Defender.png" class="def" alt="Car" />

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
